// VARIABLES

$menu_anim_len: 0.3s;

// END VARIABLES


body {
  padding: 0;
  margin: 0;
}

#root {

  font-family: 'Belleza', serif;
  font-size: 24px;

  #menu_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    opacity: 0;
    visibility: hidden;
    transition-duration: $menu_anim_len, 0s;
    transition-delay: 0s, $menu_anim_len;
    transition-property: opacity, visibility;

    &.active {
      opacity: 1;
      visibility: visible;
      transition-duration: $menu_anim_len, 0s;
      transition-property: opacity, visibility;
      transition-delay: 0s;
    }

    nav {
      display: flex;
      flex-basis: 100%;
      flex-wrap: wrap;
      // longest page name 'publications' is 12 letters. so the margin should be a min of 1/15 the viewport width, i.e. 6.7vw
      margin-left: calc(min(6.7vw, 50px));
      margin-top: calc(min(5vw, 40px));
      align-content: flex-start;

      a {
        // again, longest page name is 12 letters. let's say each letter should be about 1/13 the screen width. by trial and error (because font-size denotes letter height), we reach 3vw
        font-size: calc(min(7vw, 10rem));
        flex-basis: 100%;
        color: inherit;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }

  main {
    background-color: rgb(230,230,230);
    color: black;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: calc(max(50% - 300px,2%));
    padding-right: calc(max(50% - 300px,2%));

    h1#title {
      font-size: 3rem;
      flex-basis: 100%;
      text-align: center;
    }

    #content {
      flex-basis: 100%;
    }
  }

}
