body {
  padding: 0;
  margin: 0;
}

#root {

  font-family: 'Belleza', serif;
  font-size: 24px;

  #menu_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;

    nav {
      display: flex;
      width: 96%;
      max-width: 400px;
      border-left: .2rem solid white;
      border-bottom: .2rem solid white;
      flex-basis: 100%;
    }
  }

  #content {
    background-color: rgb(230,230,230);
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: calc(max(50% - 300px,2%));
    padding-right: calc(max(50% - 300px,2%));

    h1#title {
      font-size: 3rem;
      flex-basis: 100%;
      text-align: center;
    }
  }

}
