<Page>
  <h2>Grinnell College Press</h2>
  <p>
    is a student organization which works with writers and artists on campus to design and print (a collection of) their work in a cohesive and beautiful publication.
  </p>
  <p>
    We are currently hiring new editors! Editors participate in the selection of 3-4 submissions for publication each semester, and then coordinate different parts of the editing, illustration, and design/layout process. Please fill out the following application with any experience in publishing, editing, or graphic design you have, though none is necessary.
  </p>
</Page>
