<Page>
  <h2>Grinnell College Press</h2>
  <p>
    is a student organization which works with writers and artists on campus to design and print (a collection of) their work in a cohesive and beautiful publication.
  </p>
  <p>
    We are currently hiring new editors! Editors participate in the selection of 3 to 5 submissions for publication each semester, and then coordinate different parts of the editing, illustration, and design/layout process. Please fill out the following application with any experience in publishing, editing, or graphic design you have, though none is necessary.
  </p>
  <h3><a href="https://forms.office.com/Pages/DesignPage.aspx?fragment=FormId%3DPp5PUsr6ZE-z7K2yuu6IB09YIq8t4dRJgo0ErbBZykFUOFZOQTJWSU1EVU0zMTlHRjhXUU1TNFNOSi4u%26Token%3D04bbc50feb6d479589a18731f7901e49">Editor Application</a></h3>

  <!-- STAFF LIST -->

  <div class="row">
    <div class="label">
      Editors in chief
    </div>
    <div class="value">
      <p>Nora Paul</p><p>Zainab Thompson</p>
    </div>
  </div>

  <div class="row">
    <div class="label">
      Web developers
    </div>
    <div class="value">
      <p>Micah Cantor</p>
      <p>Jeremy Sparagon</p>
    </div>
  </div>


</Page>
