<Page>

	<p>We are currently accepting submissions for the fall 2021 printing round. Please click <LinkTo @route="submissions">here</LinkTo> for more information.</p>
	<p>We are also hiring editors for the 2021-2022 academic year. The applications will be on Handshake as well as through this preliminary application form. Please click <LinkTo @route="about">here</LinkTo> for more information.</p>
	<p>This site is currently under construction. You may view the archive site <a href="/archive/index.html">here</a>.</p>

	<!-- <div class="row">
		<div class="label">
			Author
		</div>
		<div class="value">
			Nora Paul
		</div>
	</div>
	<div class="row">
		<div class="label">
			Title
		</div>
		<div class="value">
			Empty Landscapes
		</div>
	</div>
	<div class="row">
		<div class="label">
			Released
		</div>
		<div class="value">
			Fall 2018
		</div>
	</div> -->
</Page>
