<Page>
  <h2>
    Submit your work
  </h2>
  
  <p>We are now accepting submissions for the <em>Fall 2021</em> group of publications!</p>
  
  <p>Please fill out the following application if you are interested in being a content creator. The deadline for Fall 2021 is <em>September 18th</em>. Send either all the work you want published, or a proposal including a sample of the work. This typically means 8-10 photos/artworks/poems, or 1-2 short stories/chapters.</p>

  <h3><a href="https://forms.office.com/r/iGgEpmfJGf">Content Submission Form</a></h3>
</Page>
