<Page>
  <h2>
    Submit your work!
  </h2>
  <p>We are now accepting submissions for the <em>Fall 2021</em> group of publications! For shorter publications, please submit all the content you would like to publish. For larger collections of art, submit 8-10 samples from the collection, and for longer written works, submit 2-3 chapters or sections. </p>
  <p>
    If your submissions don’t fall into any of those categories, please submit a detailed description of your idea or proposal. <em>Collaborative submissions are also welcome.</em>
  </p>
  <p>
    We typically work with the <em>content creators</em> throughout the semester to formulate the design, layout, and possible illustration of their publications.
  </p>
  <h3>Send your submissions to Press by <a href="mailto:press@grinnell.edu">email</a> or WeTransfer. The Fall 2021 deadline is September 18th.</h3>
</Page>
